body{
    
    
    background-image: url(../Images/background.png);
    backdrop-filter: blur(3px);

    margin: 0;

    font-family: Alexandria;
    
}
/*navbar*/
.navbar{
	width: 100%;
    height: 8vh;
    
    display: flex;

    position: sticky;
    top: 0;
    border-bottom: 1px black solid;
    background-color: var(--blanco1);
    z-index: 5;
}
/*search*/
.search{
	width: 75%;
    height: 7vh;
}
.search .logo{
    font-family: Pacifico;
    color: var(--negro1);
    font-size: 1.5em;
    padding: 3.2vh;
    
    margin: auto;
    margin-top: -15px;
    padding-left: 40px;
    cursor: pointer;
}

/*account*/
.account{
	width: 25%;
    height: 7vh;
}
.account_ul{
    width: 100%;
    height: 7vh;
	list-style: none;
	padding: 0;
	margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account_ul li{
    
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--negro1);
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(90%);

}

.account_ul a{
    text-decoration: none;

}

.account_ul li:hover{
    background-color: var(--verde1);
}

.account_ul li img{
    width: 40px;
    height: 40px;
    border: 1px var(--negro1) solid;
    background-color: var(--verde2);
    border-radius: 5vh;
}

.parte{
    width: 100%;
    height: 300vh;

    display: flex;
}

.parte .izq{
    width:20%;
    height: 30vh;
    position: sticky;
    top: 7vh;

}

.parte .izq .izq_ul{
    width: 100%;
    height: 6vh;
    list-style: none;
	padding: 0;
	margin: auto;
    display: flex;
    flex-direction: column;
}

.parte .izq .izq_ul li{
    text-align: left;
    padding-left: 1vw;
   text-decoration: none;
    font-size: 1.5em;
    color: var(--negro1);
    cursor: pointer;
    height: 6vh;
}
.parte .izq .izq_ul li:hover{
    background-color: var(--verde1);
    border-radius: 0px 50px 50px 0px;
}

.parte .der{
    width: 80%;
    min-height: 120vh;

}

.parte .der .crear{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte .der .crear .cuadro{
    width: 40vw;
    height: 20vh;
    background-color: var(--gris1);


    border: 3px solid var(--gris2);
    border-radius: 30px;
    padding-top: 2vh;
    box-shadow:  var(--gris3) 0px 5px 25px 0px;
}

.parte .der .crear .cuadro:hover{
    filter: brightness(110%); 
}

/*form*/
.parte .der .crear .cuadro input[type="text"], input::placeholder{
    width: 90%;
    height: 4vh;
    border: 0;
    background-color: transparent;
    outline: 0;
    transition: 0.5s;
    display: block;
    font-family: Alexandria;
    font-size: 1.2em;
    color: var(--negro1);
    margin: 0 auto;
    margin-left:150px;
}

.parte .der .crear .cuadro select{
    width: 150px;
    height: 35px;
    font-family: Alexandria;
    font-size: 1em;
    border-radius: 5px;
    background-color: var(--gris1);
    color: black;
    position: absolute;
    margin-left :200px;
    margin-top: -20px;
}

.parte .der .crear .cuadro textarea, textarea::placeholder{
    width: 90%;
    height: 4vh;
    border: 0;
    background-color: transparent;
    outline: 0;
    transition: 0.5s;
    display: block;
    font-family: Alexandria;
    font-size: 1.2em;
    color: var(--negro1);
    margin: 0 auto;
}

.parte .der .crear .cuadro textarea, textarea::placeholder{
    height: 12vh;
    resize: none;
}

.parte .der .crear .cuadro input[type="image"]{
    height: 90px;
    width: 90px;
    position: absolute;
    translate: 33vw -9vh;
}

.parte .der .cards{
    width: 100%;
    min-height: 50vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.parte .der .cards .title{
    width: 100%;
    height: 10vh;
    font-size: 5em;
    margin: auto;
    margin-bottom: 3vh;
    padding-left: 1vw;
    text-align: center;
    
}

.parte .der .cards .card{
    width: 32%;
    height: 55vh;
    background-color: var(--verde1);
    border-radius: 20px;
    margin: .5%;
    box-shadow:  var(--gris3) 0px 2.5px 12px 0px;
}

.parte .der .cards .card:hover{
    filter: brightness(110%);
}

/*cards*/
.cards .c_title{
    font-size: 1.5em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: .5em;
    height: 8vh;
}

.cards .c_accions{
    margin: 0 auto;
    padding: .5em;
    position: absolute;
    translate: 18vw -5vh;
    cursor: pointer;
}

.cards .c_accions img{
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.cards .c_data{
    font-size: .8em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: 1em;
}

.cards .c_question{
    font-size: 1.2em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: 1em;
    height: 5vh;
}

.cards .c_answer{
    font-size: 1.2em;
    color: var(--blanco1);
    margin: 0 auto;
}

.cards .f_answer{
    height: 20vh;
    border-radius: 20px;
    margin: .5%;
    background-color: var(--verde2);
    color: var(--blanco1);
}

.cards .f_answer textarea{
    padding-top: 20px;
    resize: none;
    color: var(--negro1);
    height: 98%;
    width: 100%;
    border-radius: 20px;
    font-size: 2em;
    font-family: Alexandria;
}

.cards .f_answer textarea::placeholder{
    resize: none;
    color: var(--blanco1);
    overflow: hidden;
}

.cards .f_answer input[type="image"]{
    height: 90px;
    width: 90px;
    position: absolute;
    translate: 9.5vw -2.2vh;
    
}


.p_title{
    width: 100%;
    height: 10vh;
    font-size: 3em;
    margin: auto;
    padding-left: 1vw;
    color: var(--negro1);
}

.profile{
    width: 100%;
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .d-form{
    
    border-radius: 20px;
    background-color: var(--blanco1);
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  var(--gris3) 0px 2px 7px 0px;
    
}

.profile .d-form label{
    width: 10%;
    height: 2vh;

    font-size: 0.75em;
    color: var(--gris2);

    margin: 0 auto;
    margin-top: 15px;
}

.profile .d-form  input{
    width: 25vw;
    height: 4vh;
    line-height: 4vh;

    border: 0;
    background-color: var(--blanco1);
    outline: 0;
    transition: 0.5s;
    display: block;
    font-family: Alexandria;
    font-size: 1.2em;
    color: var(--negro1);
    margin-bottom: 10px;
    text-align: center;
}

.profile .d-form input[type="text"], input[type="password"]{
    color: var(--negro1);
    border: 0;
    border-bottom: 1px solid var(--gris2);
    background-color: var(--blanco1);
    outline: 0;
    transition: 0.5s;
}
.profile .d-form input[type="password"]{
    color: var(--letra);

}
.profile .d-form input[type="text"]:focus, input[type="password"]:focus{
    font-size: 1.1em;
    transition: 0.5s;
}

.profile .d-form input[type="submit"]{
    color: var(--blanco1);
    background-color: var(--gris2);
    border-radius: 5vh;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    height: 45px;
    transition: 0.5s;
}
.profile .d-form input[type="submit"]:hover{
    color: var(--gris3);
    background-color: var(--gris1);
    transition: 0.5s;
}
  
.parte .der{
    width: 99%;
}