body{
    
    
    background-image: url(../Images/background.png);
    backdrop-filter: blur(3px);

    margin: 0;

    font-family: Alexandria;
    
}
/*navbar*/
.navbar{
	width: 100%;
    height: 5vh;
    
    display: flex;

    position: sticky;
    top: 0;
    border-bottom: 3px black solid;
    background-color: var(--blanco1);
    z-index: 5;
}
/*search*/
.search{
	width: 80%;
    height: 5vh;
}
.search .logo{
    font-family: Pacifico;
    color: var(--negro1);
    font-size: 2.5em;
    padding: 0;
    
    margin: auto;
    margin-top: -15px;
    padding-left: 20px;
    cursor: pointer;
}

/*account*/
.account{
	width: 20%;
    height: 5vh;
}
.account_ul{
    width: 100%;
    height: 5vh;
	list-style: none;
	padding: 0;
	margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account_ul li{
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--negro1);
    cursor: pointer;

}

.account_ul li:hover{
    background-color: var(--verde1);
}

.account_ul li img{
    width: 40px;
    height: 40px;
    border: 1px var(--negro1) solid;
    background-color: var(--verde2);
    border-radius: 5vh;
}

.parte{
    width: 100%;
    height: 300vh;

    display: flex;
}

.parte .izq{
    width:20%;
    height: 30vh;
    position: sticky;
    top: 5vh;
}

.parte .izq .izq_ul{
    width: 100%;
    height: 30vh;
    list-style: none;
	padding: 0;
	margin: auto;
    display: flex;
    flex-direction: column;
}

.parte .izq .izq_ul li{
    text-align: left;
    padding-left: 1vw;
    height: calc(100% / 6);
    

    font-size: 1.5em;
    color: var(--negro1);
    cursor: pointer;
}
.parte .izq .izq_ul li:hover{
    background-color: var(--verde1);
    border-radius: 0px 50px 50px 0px;
}

.parte .der{
    width: 80%;
    min-height: 120vh;

}

.parte .der .crear{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte .der .crear .cuadro{
    width: 40vw;
    height: 20vh;
    background-color: var(--gris1);


    border: 3px solid var(--gris2);
    border-radius: 30px;
    padding-top: 2vh;
    box-shadow:  var(--gris3) 0px 5px 25px 0px;
}

.parte .der .crear .cuadro:hover{
    filter: brightness(110%); 
}

/*form*/
.parte .der .crear .cuadro input[type="text"], input::placeholder, textarea, textarea::placeholder{
    width: 90%;
    height: 4vh;
    border: 0;
    background-color: transparent;
    outline: 0;
    transition: 0.5s;
    display: block;
    font-family: Alexandria;
    font-size: 1.2em;
    color: var(--negro1);
    margin: 0 auto;
}

.parte .der .crear .cuadro textarea, textarea::placeholder{
    height: 12vh;
    resize: none;
}

.parte .der .crear .cuadro input[type="image"]{
    height: 90px;
    width: 90px;
    position: absolute;
    translate: 38vw -12vh;
}

.parte .der .cards{
    width: 100%;
    min-height: 50vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.parte .der .cards .title{
    width: 100%;
    height: 10vh;
    font-size: 5em;
    margin: auto;
    margin-bottom: 3vh;
    padding-left: 1vw;
    font-family: Pacifico;
}

.parte .der .cards .card{
    width: 32%;
    min-height: 10vh;
    background-color: var(--verde1);
    border-radius: 20px;
    margin: .5%;
    box-shadow:  var(--gris3) 0px 2.5px 12px 0px;
}

.parte .der .cards .card:hover{
    filter: brightness(110%);
}

/*cards*/
.cards .c_title{
    font-size: 1.5em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: .5em;
}

.cards .c_accions{
    margin: 0 auto;
    padding: .5em;
    position: absolute;
    translate: 18vw -5vh;
    cursor: pointer;
}

.cards .c_accions img{
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.cards .c_data{
    font-size: .8em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: 1em;
}

.cards .c_question{
    font-size: 1.2em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: 1em;
}

.cards .c_answer{
    font-size: 1.2em;
    color: var(--blanco1);
    margin: 0 auto;
    padding: 1em;
}

.cards .f_answer{
    height: 20vh;
    border-radius: 20px;
    margin: .5%;
    background-color: var(--verde2);
    color: var(--blanco1);
}

.cards .f_answer textarea{
    padding-top: 20px;
    resize: none;
    color: var(--blanco1);
    height: 12vh;
}

.cards .f_answer textarea::placeholder{
    resize: none;
    color: var(--blanco1);
    overflow: hidden;
}

.cards .f_answer input[type="image"]{
    height: 90px;
    width: 90px;
    position: absolute;
    translate: 10.5vw -3vh;
    
}